*{
    font-family: 'poppins', Verdana, sans-serif;
    line-height: 1.4;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 1280px;
    background-color: #efefef;
    margin: 0 auto;
    color: #111;
    text-align: center;
}
header{
    font-weight: bold;
    font-size: 2rem;
    background-color: #196774;
    color: #fff;
}
header a{
    text-decoration: none;
    color: #fff;
    display: block;
    background-color: #196774;
}

h1{
    padding: 2rem;
}
nav{
padding: 1rem;
}
nav ul{
    min-height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    
}
nav li{
    width: 165px;
    margin: 1px;
}
nav a{
    text-decoration: none;
    text-align: center;
    padding: .8rem;
    background-color: #196774;
    color: #fff;
    font-weight: bold;
    font-size: 1.1rem;
    border-radius: .25rem;
}
nav a:hover {
    background-color: #fff;
    color: #000;
}
.active{
    background-color: #ff002b;
    color: #fff;
}
h2{
    font-size: 2rem;
}
h2,a{
    display: block;
}

h3,p{
    width: 500px;
    margin: 0 auto;
}
.hero a{
    width: 170px;
    background-color:#ff002b ;
    padding: .5rem;
    margin: 0 auto;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    border-radius: .5rem;
    font-weight: 500;
}
.hero a:hover{
    background-color: #196774;
    color: #fff;
}
.hero img{
    box-shadow: 0px 8px 10px #aaa;
    filter: grayscale(50%);
    transition: filter  1.5s;
}
.hero img:hover{
    filter: grayscale(0);
}
.hero h2{
    padding: 1.4rem 0 0;
}
.hero h3{
    color: #fe5d31;
    width: 250px;
    border-bottom: 1px solid #aaa;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    padding:1.5rem 0 0;
}
.hero {
    font-size: 1.1rem;
    line-height: 1.3rem;
    color: #000;
}
.grid-container{
    display: grid;
    grid-template-columns: 3fr 3fr;
    gap: 2rem;
}
.grid-container img{
    margin-top: 1rem;
    box-shadow: 0px 8px 10px #aaa;
    padding: 5px;
    border-radius: 7px;
    filter: grayscale(80%);
    transition: filter 1.5s;
}
.grid-container img:hover{
    filter: grayscale(0);
}

section h3{
    color:#ff002b;
    width: 250px;
    border-bottom: 1px solid #aaa;
    margin-bottom: 1rem;
}
img{
    width: 100%;
    height: auto;
}

footer{
    margin-top: 2rem;
    padding: 1rem;
    background-color: #196774;
    color: #fff;
    float: clear;
}
footer p{
    color: #fff;
}

/* STYLES FOR CONTACT PAGE*/
form {
    width: 600px;
    background-color: #A1B8C7;
    box-shadow: 2px 5px 8px #aaa;
    padding: 16px;
    color: #363432;
    border-radius: 4px;
}
main{
   display: flex;
   align-items: center;
   justify-content: space-around;
}

.aside {
    margin-top: 20px;
    border-radius: 4px;
}

.aside h2 {
    padding: 2rem;
    font-size: 5rem;
}

.aside p {
    color: #222;
    font-size: 1.4rem;
    margin-bottom: 10px;
    text-align: justify;
}

main img {
    width: 600px;
    padding-top: 13px;
    box-shadow: 2px 5px 8px #aaa;
}

input,
label,
select,
textarea {
    display: block;
    width: 100%;
}

label {
    margin: 4px 16px;
    font-weight: bold;
    text-align: left;
}

input,
select,
textarea {
    font-size: 16px;
    margin-bottom: 9px;
    border-radius: 4px;
    padding: 8px;
}

fieldset {
    border-color: #363432;
    display: grid;
    border-radius: 4px;
    row-gap: 1px;
    grid-template-rows: repeat(1, 1fr);
}

fieldset label {
    margin-bottom: 13px;
}

input[type="submit"] {
    background: #9f6a1e;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    box-shadow: -6px 6px 10px #363432;
}

input[type="reset"]{
    background: #9f6a1e;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    box-shadow: -6px 6px 10px #363432;
}

input:focus,
select:focus,
textarea:focus {
    outline: 3px solid #d9ad9a;
}

input[type="submit"]:focus {
    outline: 3px solid #ef6024;
}

input[type="submit"]:hover {
    box-shadow: -3px 3px 5px #363432;
}
input[type="reset"]:focus {
    outline: 3px solid #ef6024;
}

input[type="reset"]:hover {
    box-shadow: -3px 3px 5px #363432;
}

input[type="radio"] {
    appearance: none;
    margin: 0;
    padding: 0;
    border: none;
    font-size: 0;
    border-radius: 0;
}

input[type="radio"]+label::before {
    content: "\00a0";
    font-size: 2em;
    line-height: 0.5;
    border-radius: 50%;
    display: inline-block;
    height: 20px;
    width: 22px;
    text-align: center;
    margin-right: 16px;
    border: 2px solid white;
    background-color: #fff;
    padding-bottom: 2px;
}

input[type="radio"]:checked+label::before {
    content: "\2022";
    color: #fff;
    background: #196774;
}

input[type="radio"]:focus {
    outline: none;
}

input[type="radio"]:focus+label::before {
    box-shadow: 0 0 0 2px #196774;
}


